/* body {
    font-family: 'Arial', sans-serif;
  }
  
  .navbar {
    background-color: #007bff !important;
  }
  
  .card:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
  }
  
  .table-container {
    margin-top: 20px;
  }
  
  .table thead {
    background-color: #007bff;
    color: white;
  }
  
  .badge {
    font-size: 14px;
  } */
  
   